header img {
  display:flex;
  justify-content: center;
  align-content:center;
  margin:auto;
}

/*styling the navigation*/

.nav {
  list-style: none;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
  padding: 0;
  width: 1000px;
}

.nav li {
  margin: 20px;
  color: #fff;
  font-size: 18px;
}

.nav-container {
  background-color: #0094d0;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0px;
}

/*styling home page */

.main-image {
  width: 700px;
  margin: auto;
  display: flex;
  align-content: center;
}

.main-container {
  margin: auto;
}
